@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Agbalumo', 'Cormorant';
    /* src: url(The-Augusta.woff); */
}
body
{
    min-height: 100vh;
    background: #1b1a18;
}
header {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: 0 0;
}
header .logo
{
    color: #540b0e;
    font-family: 'Cormorant';
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    padding: 10px;
    display: inline-block;
}
.ChoroChart{
    width: 1000px; /* Customize the width as needed */
    height: 10000px; /* Customize the height as needed */
    border: 2px solid #000; /* Customize the border properties as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}
.ChoroChart svg{
    width: 100%;
    height: 100%;
} 